.logo {
  width: 38px;
  height: 38px;
  display: block;
  border-style: none;
  border-radius: 5px;
  margin-right: 107px;
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #78c6a3;
  background:
    url('../../images/clover.svg')
    no-repeat
    center;
}

.logo::after {
  position: relative;
  top: 7px;
  left: 40px;
  content: "Милано";
}